In [26]:
#Import the CSV File into the DataFrame

import pandas as pd
orders = pd.read_csv('C:/Users/Thanmai/INEURON//orders.csv', index_col=False, delimiter = ',')
orders.columns
orders = orders.drop(['Unnamed: 0'], axis = 1)
orders

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [4]:
#Connect to the MySQL using Python and create a Database

import mysql.connector as connection
from mysql.connector import Error
try:
    mydb = connection.connect(host = 'localhost', user = 'root', password = 'thanmai123')#give ur username, password
    if mydb.is_connected():
        cursor = mydb.cursor()
        cursor.execute("CREATE DATABASE Superstore")
        print("Database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

Database is created

In [11]:
#Create a table and Import the CSV data into the MySQL table

import mysql.connector as connection
from mysql.connector import Error

mydb = connection.connect(host='localhost', database='Superstore', user='root', password='thanmai123')
if mydb.is_connected():
    cursor = mydb.cursor()
    cursor.execute("select database();")
    record = cursor.fetchone()
    print("You're connected to database: ", record)
    cursor.execute('DROP TABLE IF EXISTS orders;')
    print('Creating table....')
# in the below line please pass the create table statement which you want #to create
cursor.execute('''create table orders(
                    RowID                          varchar(500),
                    OrderPriority                  varchar(500),
                    Discount                       int,
                    UnitPrice                     int,
                    ShippingCost                  int,
                    CustomerID                      int,
                    CustomerName                   varchar(500),
                    ShipMode                       varchar(500),
                    CustomerSegment                varchar(500),
                    ProductCategory                varchar(500),
                    ProductSubCategory            varchar(500),
                    ProductContainer               varchar(500),
                    ProductName                    varchar(500),
                    ProductBaseMargin            float(10,10),
                    Region                          varchar(500),
                    StateorProvince               varchar(500),
                    City                            varchar(500),
                    PostalCode                      int,
                    OrderDate              varchar(500),
                    ShipDate               varchar(500),
                    Profit                         int,
                    Quantityorderednew             int,
                    Sales                          int,
                    OrderID                         int
                    );
                    update orders
                    set OrderDate=date_format(OrderDate,"%d/%m/%y");
                    set ShipDate=date_format(ShipDate,"%d/%m/%y");
                    ''')
print("Table is created....")

You're connected to database:  ('superstore',)
Creating table....
Table is created....

In [27]:
#loop through the data frame
for i,row in orders.iterrows():
    #here %S means string values 
    sql = '''INSERT INTO Superstore.orders VALUES ("%s", "%s", "%s","%s", "%s", "%s","%s", "%s", "%s","%s", "%s", "%s","%s", "%s", "%s","%s", "%s", "%s","%s", "%s", "%s","%s", "%s", "%s")'''
    cursor.execute(sql, tuple(row))
    print("Record inserted")
    # the connection is not auto committed by default, so we must commit to save our changes
    mydb.commit()

Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

DatabaseError: 1265 (01000): Data truncated for column 'ProductBaseMargin' at row 1